{% extends 'base.html.twig' %}
{% block title %}
    Gestion des participants
{% endblock %}
{% block body %}

    <div class="container">
                <h1 class="text-center">Gestion des participants</h1>



        {{ include('player/_formPlayer.html.twig') }}
        <hr/>
    </div>
{% endblock %}