<div class="row logoPreview">
    <div class="col text-center">
        {% if event.logo %}
            <img class="preview-img mt-3" id="previewPicture" 
            src="/images/logos/{{ event.logo }}">
        {% else %}
            <img class="preview-img" id="previewPicture" 
            src="/images/logos/defaultLogo.png">
        {% endif %}
    </div>
</div>