{% extends 'base.html.twig' %}

{% block title %}Evénements - {{ parent() }}{% endblock %}

{% block pageTitle %}Liste des événements{% endblock %}

{% block body %}
    <div class="event_list">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('event_add') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter un
                événement</a>
        {% endif %}

        {% if events.currentPageNumber == 1 %}
            <h2>Événements des 7 prochains jours</h2>
            {% if weekEvents %}
                {% for event in weekEvents %}
                    {% include 'event/_event.html.twig' %}
                {% endfor %}
            {% else %}
                <div class="row d-flex align-items-center">
                    <div class="col-12 text-center">
                            <strong>Pas d'événements ces 7 prochains jours</strong>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        
        {% if events.currentPageNumber == 1 %}
            <h2 class="mt-4">Autres événements</h2>
        {% endif %}
        {% for event in events %}
            {% include 'event/_event.html.twig' %}
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(events) }}
        </div>
    </div>
{% endblock %}