{% extends 'base.html.twig' %}

{% block title %}List of events{% endblock %}



{% block body %}
<div class="event_list container">
    <h1 class="text-center">Liste des événements</h1>

    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <a href="{{path('event_add')}}" class="btn btn-primary">Ajouter un événement</a>

        {% for event in events %}
            <div class="row d-flex align-items-center">
                <div class="col-1"><span class="badge badge-info">[{{ event.date|date('d/m/Y') }}]</span></div>
                <div class="col-10">{{ event.title }}</div>
                <div class="col-1">
                    {# Boutons Edit & Remove #}
                </div>
           </div>
        {% endfor %}

</div>
{% endblock %}
