{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau gestionnaire{% endblock %}

{% block body %}
    <h2>Créer un nouveau gestionnaire</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-primary">
            Créer
        </button>
    {{ form_end(form) }}
{% endblock %}