<div class="row">
    <div class="col">
        <h3>Liste des formats d'événements</h3>
        <p class="mt-3">Les formats suivants sont présents dans la base de données.</p>
    </div>
</div>

<div class="row my-3">
    {% for formatEvent in formatEvents %}
        <div class="col-lg-3 mt-2">
            <div class="row mx-auto align-items-center text-center py-2 border border-secondary">
                <div class="col-10">
                    <i class="fas fa-users color-icons-decoration mr-1"></i> {{ formatEvent.name }}
                </div>
                <div class="col-2 m-0 p-0">
                    {% if formatEvent.events|length == 0 %}
                        <form method="post" action="{{ path('format_event_delete', {'id': formatEvent.id}) }}"
                              onsubmit="return confirm('Voulez-vous vraiement supprimer ce format d\'événement ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formatEvent.id) }}">
                            <button class="btn btn-link border-0 m-0 p-0"><i class="fas fa-times fa-2x"></i>
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="col">
            <p class="text-center">Aucun format d'enregistré.</p>
        </div>
    {% endfor %}
</div>