{% extends 'base.html.twig' %}

{% block title %}
    Paramètres - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('settings/_formTimer.html.twig') }}
        <hr/>
        <div class="row">
            <div class="col">
                <h2 class="mt-3">Gestion des Formats d'évènements</h2>
            </div>
        </div>
        {% include 'settings/_addFormatEvent_form.html.twig' %}
        <hr class="w-75 mx-auto">
        {% include 'settings/_listFormatEvent.html.twig' %}
    </div>
{% endblock %}