{% extends 'base.html.twig' %}

{% block title %}
    Paramètres - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Paramètres</h1>
            <!-- TODO : Gestion temps globaux -->
        <hr/>
        {% include 'settings/_addFormatEvent_form.html.twig' %}
    </div>
{% endblock %}
