@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/variables";
@import "~bootswatch/dist/lumen/bootswatch";

$fontNavbarTitle:BrandonBold, Arial, sans-serif;
$colorTitleProjetIO:#FF9800;
$colorBackgroundProjetIO:#343a40;
$colorBtnProjetIO:#17a2b8;
$borderColorH1: #000000;
$browse: "Parcourir";
@font-face {
    font-family: BrandonBold;
    src: url(../../assets/fonts/BrandonText-Bold.otf);
}

.navbarProjetIO {
    a {
        font-weight:bold;
        font-family: $fontNavbarTitle;
    }
    background-color: $colorBackgroundProjetIO;
    span {
        color:$colorTitleProjetIO;
    }
    button {
        color:$colorBtnProjetIO;
        border: 1px solid $colorBtnProjetIO;
        span {
            color: $colorBtnProjetIO;
        }
    }
}

.userForm {
    button {
        margin-top:32px;
        &:hover {
            margin-top:33px !important;
        }
    }
}

h1 {
    text-align: center;
    padding: 0.2em;
    margin: auto;
    margin-top: 1em;
    border: 1px solid $borderColorH1;
}

.custom-file-label::after {
    content: $browse;
}