@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/variables";
@import "~bootswatch/dist/lumen/bootswatch";

$colorTitleProjetIO:#FF9800;
$colorBackgroundProjetIO:#343a40;
$colorBtnProjetIO:#17a2b8;

body {
    background-color: white;
}

.navbarProjetIO {
    background-color: $colorBackgroundProjetIO;
    span {
        color:$colorTitleProjetIO;
    }
    button {
        color:$colorBtnProjetIO;
        border: 1px solid $colorBtnProjetIO;
        span {
            color: $colorBtnProjetIO;
        }
    }
}

