@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/variables";
@import "~bootswatch/dist/lumen/bootswatch";

$fontNavbarTitle:BrandonBold, Arial, sans-serif;
$colorTitleProjetIO:#FF9800;
$colorBackgroundProjetIO:#343a40;
$colorBtnProjetIO:#17a2b8;
$borderColorH1: #000000;
$browse: "Parcourir";
$listButtonColor: #ffffff;

@font-face {
    font-family: BrandonBold;
    src: url(../../assets/fonts/BrandonText-Bold.otf);
}

.navbarProjetIO {
    a {
        font-weight:bold;
        font-family: $fontNavbarTitle;
    }
    background-color: $colorBackgroundProjetIO;
    span {
        color:$colorTitleProjetIO;
    }
    button {
        color:$colorBtnProjetIO;
        border: 1px solid $colorBtnProjetIO;
        span {
            color: $colorBtnProjetIO;
        }
    }
}

.userForm {
    margin-top:8px;
    #addButton, #editButton {
        display:none;
        margin-top : 31px !important;
    }
}

.hiddenField {
    display:none;
}

.userList {
    td {
        vertical-align: middle;
    }
}

.listButton {
    padding-top:0;
    padding-bottom:0;
    background-color:$listButtonColor;
    color: rgb(0, 140, 255);
    font-size: 20pt;
    :hover {
        color: rgb(61, 168, 255);;
    }
}

h1 {
    text-align: center;
    padding: 0.2em;
    margin: auto;
    margin-top: 1em;
    border: 1px solid $borderColorH1;
}

.custom-file-label::after {
    content: $browse;
}