@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/variables";
@import "~bootswatch/dist/lumen/bootswatch";

$fontNavbarTitle:BrandonBold, Arial, sans-serif;
$fontTitleHnBold:BrandonBold, Arial, sans-serif;
$fontTitleHnRegular:BrandonRegular, Arial, sans-serif;
$colorContainerShadow: #CCC;
$colorTitleUnderline: #FF9800;
$colorIcons: #FF9800;
$colorContainer: #FFF;

$colorTitleProjetIO:#FF9800;
$colorBackgroundProjetIO:#343a40;
$colorBtnProjetIO:#17a2b8;
$borderColorH1: #000000;
$browse: "Parcourir";
$listButtonBgColor: #ffffff;
$listButtonColor: rgb(0, 140, 255);
$listButtonColorHover : rgb(61, 168, 255);

@font-face {
    font-family: BrandonBold;
    src: url(../../assets/fonts/BrandonText-Bold.otf);
}

@font-face {
    font-family: BrandonRegular;
    src: url(../../assets/fonts/BrandonText-Regular.otf);
}

body {
    background-image: url("../../assets/pictures/60-lines.png");
}

.container {
    background-color: $colorContainer;
    box-shadow: 0px 5px 10px 2px $colorContainerShadow;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 3em 3em 3em 3em;
}

.navbarProjetIO {
    a {
        font-weight:bold;
        font-family: $fontNavbarTitle;
    }
    background-color: $colorBackgroundProjetIO;
    span {
        color:$colorTitleProjetIO;
    }
    button {
        color:$colorBtnProjetIO;
        border: 1px solid $colorBtnProjetIO;
        span {
            color: $colorBtnProjetIO;
        }
    }
}

.userForm {
    margin-top:8px;
    #addButton, #editButton {
        display:none;
        margin-top : 31px !important;
    }
}

.hiddenField {
    display:none;
}

.userList {
    td {
        vertical-align: middle;
    }
}

.listButton {
    padding-top:0;
    padding-bottom:0;
    background-color:$listButtonBgColor;
    color: $listButtonColor;
    font-size: 20pt;
    :hover {
        color: $listButtonColorHover;
    }
}

h1, h2, h3 {
    font-family: $fontTitleHnBold;
    &::after {
        content: '';
        display: block;
        background: $colorTitleUnderline;
    }
}

h1 {
    margin-bottom: 0.6em;
    &::after {
        margin:auto;
        width: 12rem;
        height: 0.2rem;
        margin-top: 2rem;
    }
}

h3 {font-family: $fontTitleHnRegular}

h2::after, h3::after {
    width: 3.125rem;
    height: 0.125rem;
    margin-bottom: 0.9375rem;
}

.timer-settings input {width:70%;}
.color-icons-decoration {
    color: $colorIcons;
}

.custom-file-label::after {
    content: $browse;
}

fieldset {
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    width: inherit;
    padding: 0 10px;
}