@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/variables";
@import "~bootswatch/dist/lumen/bootswatch";

$font:BrandonBold,Arial,sans-serif;
$sidesHeight: 98vh;
$titlesHeight: 20vh;
$bgColor: rgb(56, 165, 255);
$cardBackColor : rgba(255, 255, 255, .2);
$borderBgCard : rgba(255, 255, 255, .3);
$circleColor : #FFF;
$circleBorderColor : #000;
$circleActiveColor : #000;

@font-face {
  font-family: BrandonBold;
  src: url(../../assets/fonts/BrandonText-Bold.otf);
}

body {
  background: linear-gradient(50deg, $bgColor, darken(saturate($bgColor, 40%), 10%));
}

.bgCard {
  background-color: $cardBackColor;
  border: 1px solid $borderBgCard;
  border-radius: 5px;
}

.runDashboard,
.startDashboard {
  height: 100vh;
  font-family: $font;
  padding: 10px;

  .title,
  .speak,
  .backLink {
    height: $titlesHeight;

    p {
      font-size: 6vh;
    }
  }

  .roundTimer,
  .endMessage {
    height: $sidesHeight - 2*$titlesHeight;
  }

  .endMessage {
    p {
      font-size: 3vw;
    }
  .circle {
    top:0;
  }

  .timerText {
    position: absolute;
    font-size: 7vw;
    top:30%;
    left: 0;
    width: 100%;
    height: 50%;
    text-align:center;
    vertical-align: middle;
  }

  .speak {
    font-size: 3vw;
    top:0;
    left: 0;
    width: 100%;
    text-align:center;
    vertical-align: middle;
  }

  .left-side {
    height: $sidesHeight;
    padding-top: 8vh;

    .round {
      height: 20vh;
      font-size: 5vh;
    }

    .globalTimer {
      height: 15vh;
      font-size: 10vh;
    }

    .logo {
      img {
        padding-top: 10vh;
        width: 25vw;
      }
    }
  }
}

.pauseDashboard {
  height: 100vh;
  font-family: $font;
  padding: 10px;

  .titleBar {
    height: 10vh;

    p {
      font-size: 4vh;
    }
  }

  .tables {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 77vh;
  }

  .statusBar {
    height: 10vh;
    font-size: 3vh;

  }
  
  a {
    font-size: 3vh;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    .table {
      th, td {
        padding: 0.75vh 0.75rem 0.75vh 0.75rem;
        font-size: calc(2vh + 20%);
      }
    }
  }

  .circle-display-screen {
    background-color: $circleColor;
    border:2px solid $circleBorderColor;
    border-radius:50%;
    width:2vh;
    height:2vh;
    margin:1vh;
  }

  .active-circle-display-screen {
    background-color: $circleActiveColor;
  }
}