@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/variables";
@import "~bootswatch/dist/lumen/bootswatch";

img {
  width: 300px;
  height: 150px;
}

.heightDashboard {
  height: 100vh;
}