<div class="userForm mb-4" id="societyForm">
    {{ form_start(form) }}
    <p class="requiredFields">(*) Champs obligatoires</p>
    <div class="row">
        <div class="col-md-3">
            {{ form_label(form.name, 'Nom de la société') }}<span class="requiredFields"> *</span>
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-12">
            <button id="addButton" class="btn btn-lg btn-primary btn-block" name="add">
                Créer
            </button>
            <button id="editButton" class="btn btn-lg btn-primary btn-block" name="edit">
                Modifier
            </button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
