{% extends 'base.html.twig' %}

{% block title %}New Society{% endblock %}

{% block body %}
    <h1>Create new Society</h1>

    {{ include('society/_form.html.twig') }}

    <a href="{{ path('society_index') }}">back to list</a>
{% endblock %}
