<nav class="navbar navbarProjetIO navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Projet <span>I/O</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavProjetIO" aria-controls="navbarNavProjetIO" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavProjetIO">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('app_login') }}"><button class="btn btn-outline-primary"><span><i class="fas fa-sign-in-alt"></i></span> Connexion</button></a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MatchMaking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('event_index') }}">Gestion des événements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('manager_index') }}">Gestion des utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('settings') }}">Paramètres</a>
            </li>
        </ul>
    </div>
</nav>