{% set tableName = '' %}
{% set numberScreen = (maxLaps-1) % 3 %}
{% set sliceStart = 0 %}
{% set sliceEnd = (maxLaps-1)*3 %}

<ul class="w-100">
    {% for i in 0..numberScreen %}
    <li>
        <div class="row my-2 display-table">
            {% for round in rounds|slice(sliceStart, sliceEnd) %}
                {% if tableName != round.tableEvent.name %}
                    {% set tableName = round.tableEvent.name %}
                    {% if loop.index0 > 0 %} </tbody></table></div> {% endif %}
                    <div class="col-4">
                        <table class="table table-striped bg-light w-75 mx-auto">
                        <thead>
                            <tr class="bg-dark text-white text-center">
                                <td colspan="2">TABLE {{ round.tableEvent.name }}</td>
                            </tr>
                        </thead>
                        <tbody>
                {% endif %}

                <tr>
                    <td>{{ round.speaker }}</td>
                </tr>

                {% if loop.last %} </tbody></table></div> {% endif %}
        {% endfor %}
        </div>
        {% set sliceStart = sliceEnd %}
        {% set sliceEnd = sliceStart + sliceEnd %}
    </li>
    {% endfor %}
</ul>

{% if numberScreen > 0 %}
    <div class="d-inline-flex">
        {% for i in 0..numberScreen %}
        <p class="circle-display-screen"></p>
        {% endfor %}
    </div>
{% endif %}