<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        {% if user.roles.0 == "ROLE_MANAGER" %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td><button class="btn listButton"><i class="fas fa-pencil-alt"></i></button></td>
                <td><i class="fas fa-trash-alt"></i></td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="8">Aucun utilisateur enregistré.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>