<table class="table">
    <thead>
    <tr>
        <th class="hiddenField">Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td class="hiddenField">{{ user.id }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.email }}</td>
            <td><button class="btn listButton"><i class="fas fa-edit"></i></button></td>
            <td>{% include 'user/_delete_form.html.twig' %}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">Aucun utilisateur enregistré.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>