{% extends 'base.html.twig' %}

{% block title %}Administrateurs - {{ parent() }}{% endblock %}

{% block pageTitle %}Gestion des Administrateurs{% endblock %}

{% block body %}
    <div>
        <button class="createButton btn btn-lg btn-primary">
            <i class="fas fa-user-plus mr-2"></i> Ajouter un administrateur</button>
        {% include 'user/_form.html.twig' %}
        <hr>
        {% include 'user/_list.html.twig' %}
    </div>
{% endblock %}
