{% extends 'base.html.twig' %}

{% block title %}Ajouter un gestionnaire{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Ajouter un gestionnaire</h1>
        <hr/>
    {{ include('user/_formAdd.html.twig') }}
    </div>
{% endblock %}
