{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des utilisateurs</h1>
        <button class="createButton btn btn-lg btn-primary  mt-4 mb-2">Ajouter un utilisateur</button>
        {% include 'user/_form.html.twig' %}
        {% include 'user/_list.html.twig' %}
    </div>
{% endblock %}
