{% extends 'base.html.twig' %}

{% set usersName='Gestionnaires' %}
{% if society is defined %}
    {% set usersName='Utilisateurs' %}
{% endif %}
{% block title %}{{ usersName }} - {{ parent() }}{% endblock %}

{% block pageTitle %}
    Gestion des {{ usersName }}
{% endblock %}

{% block body %}
    <div>
        {% if society is defined %}
            <h2 class="mt-4">{{ society.name }}</h2>
        {% endif %}
        <button class="createButton btn btn-lg btn-primary">
            <i class="fas fa-user-plus mr-2"></i> Ajouter un gestionnaire</button>
        <hr>
        {% include 'user/_form.html.twig' %}
        {% include 'user/_list.html.twig' %}
    </div>
{% endblock %}
